


h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;

    width: 100%;

    text-align: center;
}

form {
    background-color: var(--oc-gray-1);
    display: flex;
    padding: 10px;
    border-radius: calc(0.5em + 10px);

    flex-direction: column;
    gap: 0.5em; 
}

.password-strength ul {
    list-style: none;
    margin: 0;
}

.finisher {
    display: flex;
    flex-direction: row;
    gap: 0.5em;
    justify-content: center;
}

.sso-buttons {
    display: flex;
    flex-direction: row;
    gap: 0.5em;
    justify-content: center;

    background-color: var(--oc-gray-1);
    padding: 0.5em;
    border-radius: calc(0.5em + 10px);

    font-size: 20px;
}

.btn-sso {
    display: flex;
    flex-direction: row;
    gap: 0.5em;
    justify-content: center;
    align-content: center;
    align-items: center;


    border: 1px solid var(--oc-gray-5);
}

.sso-omglol {
    background-color: var(--oc-pink-1);
    color: var(--oc-pink-8);

    border: 1px solid var(--oc-pink-5);
}

.btn-sso img {
    width: 32px;
    margin: auto;
}

.sso-omglol:hover {
    background-color: var(--oc-pink-2);
    color: var(--oc-pink-9);
}

.sso-litauth {
    background-color: var(--oc-blue-1);
    color: var(--oc-blue-8);

    border: 1px solid var(--oc-blue-5);
}

.sso-litauth:hover {
    background-color: rgb(59 130 246);
    color: var(--oc-blue-0);
}

.sso-github, .sso-steam {
    background-color: var(--oc-gray-1);
    color: var(--oc-gray-8);

    border: 1px solid var(--oc-gray-5);
}

.sso-github:hover, .sso-steam:hover {
    background-color: var(--oc-gray-2);
    color: var(--oc-gray-9);
}



@media screen and (prefers-color-scheme: dark) {
    form {
        background-color: var(--oc-gray-9);
    }

    .sso-buttons {
        background-color: var(--oc-gray-9);
    }
}
