:root {
    --black: #000000;
    --white: #ffffff;

    /* ByeCorps colour scheme. Use sparsely on this site. */
    --byecorps-blue: #1b5652;
    --byecorps-white: #e6feff;

    /* ByeCorps ID colour scheme. Use on this site. */
    --black-bean: #330f0a;
    --dark-slate-gray: #394f49;
    --fern-green: #65743a;
    --flax: #efdd8d;
    --mindaro: #f4fdaf;
}

button, .button {
    color: var(--black-bean);
    background-color: var(--flax);
}

header {
    background-color: var(--flax);
    color: var(--dark-slate-gray);
}

header a {
    color: var(--dark-slate-gray);
}

@media screen and (prefers-color-scheme: dark) {
    button, .button {
        color: var(--flax);
        background-color: var(--dark-slate-gray);
    }

    header {
        background-color: var(--dark-slate-gray);
        color: var(--flax);
    }

    header a {
        color: var(--flax);
    }
}