
/* Fonts. */

@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:wght@400;700&display=swap'); /* for BCIDs */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;600;800;900&display=swap'); /* For title, byecorps logo, headers, etc */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,400;0,500;0,600;0,700;1,400&display=swap'); /* For body text */

:root {
    --bcid-font: 'Courier Prime', monospace;
    --bc-font: 'Montserrat', sans-serif;
    --font: 'IBM Plex Sans', sans-serif;

    --bc-weight-1: 700;
    --bc-weight-2: 600;
    --bc-weight-3: 900;
}
