
@import "colours.css";

:root {
    color-scheme: light dark;
    font-family: "Montserrat", system-ui, sans-serif;
}

body {
    margin: 0;

    display: flex;
    flex-direction: column;

    min-height: 100vh;
}

header {
    display: flex;
    align-items: center;
    padding: 1rem;

    gap: 1rem;

    flex: 0;

    justify-content: space-between;

    background: var(--flax);
    color: var(--dark-slate-gray);
}

main {
    flex: 1;

    margin: 16px;
}

footer {
    flex: 0;

    text-align: center;

    margin: 16px;
}

#content {
    margin: 1rem;
}

@media screen and (prefers-color-scheme: dark) {
    header {
        background: var(--dark-slate-gray);
        color: var(--flax);
    }
}

/* Error box */

.errorbox {
    display: block;
    text-align: center;
}

body > .errorbox {
    flex: 1;
    margin: auto;

    align-content: center;
}

.errorbox > * {
    margin: 5px;
}

.errorbox > .icon {
    color: var(--error-fg, red);
    font-size: 4em;
}

/* Font things */
.bc-1 {
    font-weight: 700;
}

.bc-2 {
    font-weight: 600;
}

.bc-3 {
    font-weight: 400;
}
