
@import "colours.css";
@import 'ui.css';
@import 'extra_icons.css';

:root {
    color-scheme: light dark;
    font-family: "Montserrat", system-ui, sans-serif;
}

body {
    margin: 0;

    display: flex;
    flex-direction: column;

    background: var(--page-bg);

    min-height: 100vh;
}

header {
    display: flex;
    align-items: center;
    padding: 1rem;

    gap: 1rem;

    flex: 0;

    justify-content: space-between;

    background: var(--flax);
    color: var(--dark-slate-gray);
}

header > .section {
    display: flex;
    gap: 1em;
}

.largeicon {
    font-size: 48px;
}

main {
    flex: 1;

    margin: 16px;
}

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 1rem 1rem;
    gap: 1rem;
}

.hero .logo {
    height: 128px;
}

footer {
    flex: 0;

    text-align: center;

    margin: 16px;
}

#content {
    margin: 1rem;
}

@media screen and (prefers-color-scheme: dark) {
    header {
        background: var(--dark-slate-gray);
        color: var(--flax);
    }
}

/* Error box */

.errorbox {
    display: block;
    text-align: center;
}

body > .errorbox {
    flex: 1;
    margin: auto;

    align-content: center;
}

.errorbox > * {
    margin: 5px;
}

.errorbox > .icon {
    color: var(--error-fg, red);
    font-size: 4em;
}

/* Font things */
.bc-1 {
    font-weight: 700;
}

.bc-2 {
    font-weight: 600;
}

.bc-3 {
    font-weight: 400;
}

.id-card {
    display: inline-flex;
    gap: 1rem;
}

.id-card > img {
    height: 128px;
}

.id-card > .info {
    margin: auto 0;
}

.id-card .display_name {
    font-weight: bold;
    font-size: 2rem;
}

.id-card .id {
    font-size: 1.2rem;
    font-family: 'Grotesk Mono', monospace;
}

.center {
    text-align: center;
}

.align-vertically {
    vertical-align: middle;
}

.spacer {
    padding: 16px;
}
