
:root {
    /* ByeCorps colour scheme. Use sparsely on this site. */
    --byecorps-blue: #1b5652;
    --byecorps-white: #e6feff;

    /* ByeCorps ID colour scheme. Use on this site. */
    --black-bean: #330f0a;
    --dark-slate-gray: #394f49;
    --fern-green: #65743a;
    --flax: #efdd8d;
    --mindaro: #f4fdaf;

    --gray-0: #f8f9fa;
    --gray-1: #f1f3f5;
    --grey-5: #adb5bd;
    --gray-9: #212529;

    --red-2: #ffc9c9;
    --red-3: #ffa8a8;
    --red-7: #f03e3e;
    --red-9: #c92a2a;

    --link-fg: var(--dark-slate-gray);
    --non-color-link-fg: var(--gray-9);

    --hover-bg: var(--gray-1);

    --error-fg: var(--red-9);
}

@media screen and (prefers-color-scheme: dark) {
    :root {
        --link-fg: var(--flax);
        --non-color-link-fg: var(--gray-0);
        --hover-bg: var(--gray-9);
        --error-fg: var(--red-3);
    }
}

.error-fg {
    color: var(--error-fg);
}

a {
    color: var(--link-fg);
}
