ul {
    list-style: none;
    padding: 0;
}

ul > li + li {
    border-top: var(--grey-5) 1px solid;
}

ul > li > a {
    display: flex;
    padding: 1rem;
    gap: 0.25rem;

    color: var(--non-color-link-fg);
    text-decoration: none;
}

ul > li:has(.selected) {
    background: var(--selected-bg);
}

ul > li:hover {
    background: var(--hover-bg) !important;
}

.grid {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: minmax(400px, 1fr) 3fr;
}


.id-card {
    align-self: center;
    background: var(--hover-bg);
    padding: 1rem;
    border-radius: 1.5rem;
}

.id-card > img {
    border-radius: 0.5rem;
}

.settingsthingy h3 {
    margin-bottom: 0;
}

.grid.halfandhalf {
    grid-template-columns: 1fr 1fr;
}

.language-selector {
    display: grid;
    gap: 1rem;
    margin-bottom: 1rem;
}

.language-selector label {
    padding: 1rem;
    border-radius: 1rem;
    cursor: pointer;
    background: var(--input-bg);
}

.language-selector label:hover {
    background: var(--selected-bg);
}

@media screen and (max-width: 880px) {
    .grid {
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width: 700px)  {
    .grid.halfandhalf {
        grid-template-columns: 1fr;
    }
}
