@import url(./types.css);
@import url(./design.css);
@import url(./layout.css);
@import url(./colours.css);


* {
    box-sizing: border-box;
}

body::after {
    content: "BETA";
    position: fixed;
    top: 5rem;
    right: 1rem;

    text-align: right;
    font-size: 2.5rem;
    font-weight: bolder;
    opacity: 0.3;

    transform: rotate(15deg);
}
