/* This file deals with font types and font families. */

@import url(https://fonts.bunny.net/css?family=montserrat:400,400i,500,600,600i,700,700i,900,900i);
@import url(https://fonts.bunny.net/css2?family=Space+Mono:wght@400;700&display=swap); /* for BCIDs */

@import url(/fontawesome/css/all.css);

html {
    font-family: montserrat, sans-serif;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h2.subheading {
    font-weight: 500;
    font-size: 1.5rem;
    margin-bottom: 0;
}

h2.subheading + h1 {
    margin-top: 0;
}

#sitetitle, .font-montserrat, h1, h2, h3, h4, h5, h6, legend {
    font-family: 'montserrat', sans-serif;
}

.bc-1 {
    font-weight: 700;
}

.bc-2 {
    font-weight: 600;
}

.bc-3 {
    font-weight: 400;
}

.bcid {
    font-family: 'Space Mono', monospace;
}

.subtitle {
    font-size: 0.9rem;
    margin: 0;
    opacity: 0.8;
}

.center {
    text-align: center;
}

.vertical-center {
    vertical-align: center;
}

.icon-true::before {
    content: "\f00c";
}

.icon-false::before {
    content: "\f00d";
}

.space-mono-regular {
    font-family: "Space Mono", monospace;
    font-weight: 400;
    font-style: normal;
}

.space-mono-regular-italic {
    font-family: "Space Mono", monospace;
    font-weight: 400;
    font-style: italic;
}

.space-mono-bold {
    font-family: "Space Mono", monospace;
    font-weight: 700;
    font-style: normal;
}

.space-mono-bold-italic {
    font-family: "Space Mono", monospace;
    font-weight: 700;
    font-style: italic;
}

